@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

:root{

}


body{
    margin: 0px;
}

body *{
    box-sizing: border-box;
}

.main-cadastro{
    width: 100vw;
    height: 100vh;
    background-color: rgb(195, 147, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-cadastro{
    width: 30vw;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    
}

.left-login h1{
    font-size:3vw;
    text-align: center;
    
}

.card-cadastro{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ec6dee84;
    flex-direction: column;
    padding: 30px 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.222);
    
}

.textfield{
    width:80%;
    display: flex;
    flex-direction: column;
    
}

.textfield input{
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(249, 191, 242);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.118);
    color: rgb(83, 5, 156);
    font-size:12pt;
    outline: none;
    box-sizing: border-box;
    align-items:flex-start;
    justify-content: center;

}

.textfield label{
    
    font-family: 'Forum';
    font-family: 'Forum';
    background: linear-gradient(to left, rgba(97, 24, 51, 38), rgba(237, 59, 125, 93));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: large;
    font-weight: 600;
}

.card-login h1{
    margin: 0;
}

h1{
    font-family: 'Forum';
    background: linear-gradient(to left, rgba(97, 24, 51, 38), rgba(237, 59, 125, 93));

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    display: inline-block;
}



.btn-cadastrar{
    padding: 10px 30px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color:rgb(234, 66, 214) ;
    font-family: 'Forum';
    font-size: 12pt;
    color: rgb(137, 1, 83);
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.118);
    text-transform: uppercase;
    font-weight: 800;
}

.btn-cadastrar:hover{
    background-color: rgb(181, 103, 254);
    color: aliceblue;
    transition: 0.3s;
}

.btn-cadastrar a:hover{
    text-decoration: none;
    color: aliceblue;
}

.btn-cadastrar a{
    text-decoration: none;
    color: rgb(137, 1, 83);
    transition: 0.3s;
}

.textfield input::placeholder{
    color: rgba(255, 0, 43, 0.323);
    font-size: 11pt;
}

.cadastrar:hover{
    background-color: rgb(181, 103, 254);
    color: aliceblue;
    transition: 0.3s;
}
.cadastrar{
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color:rgba(234, 66, 214, 0.747) ;
    font-family: 'Forum';
    font-size: 10pt;
    color: rgb(137, 1, 83);
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.118);
    text-transform: uppercase;
    font-weight: 600;
}

.cadastrar a{
    text-decoration: none;
    color: rgb(137, 1, 83);
    transition: 0.3s;
}

.cadastrar a:hover{
    color: aliceblue;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.1) brightness(100%) sepia(80%) saturate(10000%) hue-rotate(20deg) opacity(0.5);
  }

  input[type="date"]{
    color: rgba(234, 66, 214, 0.747) ;
  }


@media only screen and (max-width:800px){
    .main-login{
        flex-direction: column;
    }

    .left-login-image{
        display: ;
    }

    .left-login h1{
        display: none;
    }
    .right-login{
        width: 90%;
    }   
}

@media only screen and (max-width:700px){
    .main-login{
        flex-direction: column;
        margin-top:
    }
   

    .right-login{
        width: 90%;
    }
    .left-login-image{
        align-items: flex-start;
        justify-items: flex-start;
    }
}
@media only screen and (max-width:450px){
    .left-login-image{
        display: ;
        
    }

}